.dialogs__items {
    padding: 20px;
    display: grid;
}

.dialogs__item a {
    text-decoration: none;
    color: rgb(60, 163, 65);
    font-weight: bold;
}

.dialogs__item {
    background-color: burlywood;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    
}

.dialogs__items .act a{
    color: #9c9361;
    font-weight: bold;
}

.dialogs__item img {
    width: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color:#fff;
    padding: 20px;

}
