.nav {
	background-color: rgb(79 129 79);
	font-weight: bold;
	line-height: 1.5;
}

.menu {
	width: 50%;
	margin: 100px auto;
	border-radius: 30px;
	/* background-color:#a0dfa0; */
	padding: 50px 30px;
}


nav a {
    color: #FFF;
    text-decoration: none;
	font-size: 21px;
   
}

nav a.act {
	color: #fdea15;
}